In [40]:
import urllib.request
import pandas as pd
import os
from datetime import datetime
from io import StringIO

In [ ]:
if not os.path.exists('vhi_data'):
    os.makedirs('vhi_data')

In [46]:
def download():
    for pid in range(1, 28):
        if any(f.startswith(f'vhi_id_{pid}_') for f in os.listdir('vhi_data')):
            continue
        url = f'https://www.star.nesdis.noaa.gov/smcd/emb/vci/VH/get_TS_admin.php?country=UKR&provinceID={pid}&year1=1981&year2=2024&type=Mean'
        now = datetime.now().strftime('%Y%m%d%H%M%S')
        urllib.request.urlretrieve(url, f'vhi_data/vhi_id_{pid}_{now}.csv')
        print(f'Завантажено область {pid}')

download()

In [ ]:
### Зчитування завантажених файлів, видалення тегів, рядків з пропусками та значенням -1, зміна індексів областей з англ нумераціі на українську
### та філтрація даних з 81 року

In [47]:
ID_MAP = {1: 22, 2: 24, 3: 23, 4: 25, 5: 3, 6: 4, 7: 8, 8: 19, 9: 20, 10: 21,
          11: 9, 12: 13, 13: 14, 14: 15, 15: 16, 16: 17, 17: 18, 18: 6, 19: 1,
          20: 2, 21: 7, 22: 5, 23: 10, 24: 11, 25: 12}

def clean_data(path):
    frames = []
    for f in os.listdir(path):
        if not f.endswith('.csv'):
            continue
        with open(os.path.join(path, f), encoding='utf-8', errors='ignore') as file:
            lines = file.readlines()
        lines = [l.replace('<tt><pre>', '').replace('<br>', '').strip().rstrip(',')
                 for l in lines[2:] if l.strip() and not l.strip().startswith('<')]
        tmp = pd.read_csv(StringIO('\n'.join(lines)),
                          names=['Year', 'Week', 'SMN', 'SMT', 'VCI', 'TCI', 'VHI'])
        tmp['ID'] = ID_MAP.get(int(f.split('_')[2]))
        tmp = tmp.dropna()
        tmp = tmp[tmp['VHI'] != -1]
        tmp['Year'] = pd.to_numeric(tmp['Year'], errors='coerce').astype(int)
        frames.append(tmp[tmp['Year'] >= 1981])
    return pd.concat(frames, ignore_index=True)

df = clean_data('vhi_data')
df.head()

   Year  Week    SMN     SMT    VCI    TCI    VHI  ID
0  1982     2  0.063  261.53  55.89  38.20  47.04  21
1  1982     3  0.063  263.45  57.30  32.69  44.99  21
2  1982     4  0.061  265.10  53.96  28.62  41.29  21
3  1982     5  0.058  266.42  46.87  28.57  37.72  21
4  1982     6  0.056  267.47  39.55  30.27  34.91  21

In [ ]:
### функція повертає всі тижневі значення для вказагої області та року

In [48]:
def vhi_year(df, area_id, year):
    return df[(df['ID'] == area_id) & (df['Year'] == year)]

vhi_year(df, area_id=1, year=2000)

       Year  Week    SMN     SMT    VCI    TCI    VHI ID
20570  2000     1  0.048  264.46  15.60  32.12  23.86  1
20571  2000     2  0.053  264.21  23.00  33.13  28.07  1
20572  2000     3  0.061  264.66  31.45  32.84  32.14  1
20573  2000     4  0.069  265.00  37.21  36.04  36.62  1
20574  2000     5  0.080  265.82  40.92  39.39  40.16  1
20575  2000     6  0.092  267.76  42.73  37.61  40.17  1
20576  2000     7  0.103  269.57  44.19  35.69  39.94  1
20577  2000     8  0.115  271.10  47.29  36.62  41.95  1
20578  2000     9  0.132  272.59  53.05  37.85  45.45  1
20579  2000    10  0.146  274.02  56.45  40.64  48.54  1
20580  2000    11  0.161  275.77  57.53  40.77  49.15  1
20581  2000    12  0.175  277.61  56.42  46.70  51.56  1
20582  2000    13  0.193  280.10  56.72  47.26  51.99  1
20583  2000    14  0.217  282.82  59.06  44.61  51.84  1
20584  2000    15  0.252  285.66  65.50  38.94  52.22  1
20585  2000    16  0.294  287.75  74.01  37.13  55.57  1
20586  2000    17  0.334  289.39  79.61  38.92  59.27  1
20587  2000    18  0.372  290.84  82.90  38.86  60.88  1
20588  2000    19  0.396  291.93  80.88  40.84  60.86  1
20589  2000    20  0.410  292.82  76.04  42.70  59.37  1
20590  2000    21  0.422  294.10  71.76  36.12  53.95  1
20591  2000    22  0.427  295.00  66.41  30.76  48.59  1
20592  2000    23  0.424  295.31  59.47  29.27  44.37  1
20593  2000    24  0.424  295.36  54.21  28.58  41.39  1
20594  2000    25  0.418  294.95  49.09  34.04  41.56  1
20595  2000    26  0.409  294.47  44.10  40.75  42.43  1
20596  2000    27  0.396  293.82  37.54  50.14  43.84  1
20597  2000    28  0.385  293.30  33.22  59.34  46.28  1
20598  2000    29  0.380  292.72  33.27  70.76  52.02  1
20599  2000    30  0.378  292.55  36.00  76.23  56.12  1
20600  2000    31  0.374  292.29  36.22  78.54  57.38  1
20601  2000    32  0.372  291.86  36.27  82.42  59.34  1
20602  2000    33  0.374  291.70  40.34  81.54  60.94  1
20603  2000    34  0.371  291.15  43.99  81.73  62.86  1
20604  2000    35  0.360  289.69  45.39  86.61  66.00  1
20605  2000    36  0.346  288.05  48.06  86.03  67.04  1
20606  2000    37  0.334  286.93  50.75  81.14  65.94  1
20607  2000    38  0.318  285.62  50.86  81.22  66.04  1
20608  2000    39  0.301  284.72  51.10  75.41  63.26  1
20609  2000    40  0.281  284.37  49.46  57.98  53.72  1
20610  2000    41  0.260  283.46  49.64  44.40  47.02  1
20611  2000    42  0.234  282.28  48.36  37.37  42.87  1
20612  2000    43  0.206  281.28  45.64  31.35  38.49  1
20613  2000    44  0.173  280.08  40.10  19.47  29.78  1
20614  2000    45  0.148  278.95  38.37  11.66  25.01  1
20615  2000    46  0.135  277.64  41.36   9.69  25.52  1
20616  2000    47  0.123  275.94  44.62  10.53  27.57  1
20617  2000    48  0.115  274.35  47.64  12.94  30.29  1
20618  2000    49  0.113  272.79  50.43  14.92  32.67  1
20619  2000    50  0.110  271.18  51.63  14.72  33.17  1
20620  2000    51  0.103  269.04  51.55  17.05  34.30  1
20621  2000    52  0.095  267.92  50.34  17.90  34.12  1

In [ ]:
### функція повертає всі дані для списку областей за вказаний діапазон років

In [49]:
def vhi_range(df, area_ids, year_from, year_to):
    return df[(df['ID'].isin(area_ids)) & (df['Year'] >= year_from) & (df['Year'] <= year_to)]

vhi_range(df, area_ids=[1, 2, 3], year_from=2000, year_to=2010)

       Year  Week    SMN     SMT    VCI    TCI    VHI ID
20570  2000     1  0.048  264.46  15.60  32.12  23.86  1
20571  2000     2  0.053  264.21  23.00  33.13  28.07  1
20572  2000     3  0.061  264.66  31.45  32.84  32.14  1
20573  2000     4  0.069  265.00  37.21  36.04  36.62  1
20574  2000     5  0.080  265.82  40.92  39.39  40.16  1
...     ...   ...    ...     ...    ...    ...    ... ..
43509  2010    48  0.089  269.49  52.44  30.52  41.48  3
43510  2010    49  0.075  265.82  50.07  37.06  43.57  3
43511  2010    50  0.066  263.86  47.75  36.75  42.25  3
43512  2010    51  0.056  262.12  46.08  37.63  41.85  3
43513  2010    52  0.049  260.25  44.55  41.41  42.98  3

[1656 rows x 8 columns]

In [ ]:
### знаходить мінімальне, максимальне та середнє значення і медіану для вказаноі області та діапазону років

In [50]:
def get_extremes(df, area_id, year_from=None, year_to=None):
    subset = df[df['ID'] == area_id]
    if year_from:
        subset = subset[subset['Year'] >= year_from]
    if year_to:
        subset = subset[subset['Year'] <= year_to]
    vhi = subset['VHI']
    return vhi.min(), vhi.max(), round(vhi.mean(), 2), round(vhi.median(), 2)

vhi_min, vhi_max, vhi_mean, vhi_median = get_extremes(df, area_id=1, year_from=2000, year_to=2010)
print(f'Мін: {vhi_min}')
print(f'Макс: {vhi_max}')
print(f'Середнє: {vhi_mean}')
print(f'Медіана: {vhi_median}')

Мін: 20.7
Макс: 77.45
Середнє: 52.99
Медіана: 53.5