In [1]:
import pandas as pd
import numpy as np
import timeit

In [ ]:
# завантаження датасету
# файл має роздільник ;, тому вказано sep=';' low_memory=False дозволяє коректно зчитати великий файл

In [2]:
df = pd.read_csv('household_power_consumption.txt', sep=';', low_memory=False)
print(df.shape)
df.head()

(2075259, 9)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.400,0.000,1.000,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.000,0.000,1.000,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.000,0.000,2.000,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.000,0.000,1.000,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.800,0.000,1.000,17.0

In [ ]:
# очищення даних

# у датасеті пропущені значення позначені символом ?. замінюємо їх на nan.видаляємо всі рядки з пропущеними значеннями через dropna().
# створюємо нову колонку Datetime, об'єднавши колонки Date та Time

In [3]:
df.replace('?', np.nan, inplace=True)
df.dropna(inplace=True)

df['Global_active_power'] = df['Global_active_power'].astype(float)
df['Global_intensity'] = df['Global_intensity'].astype(float)
df['Sub_metering_1'] = df['Sub_metering_1'].astype(float)
df['Sub_metering_2'] = df['Sub_metering_2'].astype(float)
df['Sub_metering_3'] = df['Sub_metering_3'].astype(float)

df['Datetime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'], format='%d/%m/%Y %H:%M:%S')

df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Datetime
0,16/12/2006,17:24:00,4.216,0.418,234.840,18.4,0.0,1.0,17.0,2006-12-16 17:24:00
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.0,0.0,1.0,16.0,2006-12-16 17:25:00
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.0,0.0,2.0,17.0,2006-12-16 17:26:00
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.0,0.0,1.0,17.0,2006-12-16 17:27:00
4,16/12/2006,17:28:00,3.666,0.528,235.680,15.8,0.0,1.0,17.0,2006-12-16 17:28:00

In [ ]:
# потужність 5+ кВт
# вибірка всіх записів, у яких загальна споживана потужність 'Global_active_power' 5+ кВт. час виконання вимірюється за допомогою %timeit.

In [4]:
def power(data):
    return data[data['Global_active_power'] > 5]

%timeit power(df)
power(df)

9.43 ms ± 285 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Datetime
1,16/12/2006,17:25:00,5.360,0.436,233.630,23.0,0.0,1.0,16.0,2006-12-16 17:25:00
2,16/12/2006,17:26:00,5.374,0.498,233.290,23.0,0.0,2.0,17.0,2006-12-16 17:26:00
3,16/12/2006,17:27:00,5.388,0.502,233.740,23.0,0.0,1.0,17.0,2006-12-16 17:27:00
11,16/12/2006,17:35:00,5.412,0.470,232.780,23.2,0.0,1.0,17.0,2006-12-16 17:35:00
12,16/12/2006,17:36:00,5.224,0.478,232.990,22.4,0.0,1.0,16.0,2006-12-16 17:36:00
...,...,...,...,...,...,...,...,...,...,...
2069356,22/11/2010,18:40:00,5.408,0.150,231.500,23.6,48.0,0.0,0.0,2010-11-22 18:40:00
2069357,22/11/2010,18:41:00,5.528,0.144,232.480,24.6,53.0,0.0,0.0,2010-11-22 18:41:00
2071586,24/11/2010,07:50:00,5.172,0.050,235.180,22.0,0.0,38.0,17.0,2010-11-24 07:50:00
2071587,24/11/2010,07:51:00,5.750,0.000,234.400,24.6,0.0,39.0,17.0,2010-11-24 07:51:00
2072997,25/11/2010,07:21:00,5.074,0.240,238.550,21.4,1.0,2.0,18.0,2010-11-25 07:21:00

In [ ]:
#струм 19-20 А
# записи, де сила струму в межах 19-20 А 
# серед них додатково фільтруємо ті, у яких споживання пральна машина, холодильник перевищує споживання бойлера та кондиціонеру
#час виконання вимірюється за допомогою %timeit

In [5]:
def filter_current(data):
    result = data[(data['Global_intensity'] >= 19) & (data['Global_intensity'] <= 20)]
    return result[result['Sub_metering_2'] > result['Sub_metering_3']]

%timeit filter_current(df)
filter_current(df)

15 ms ± 161 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Datetime
45,16/12/2006,18:09:00,4.464,0.136,234.660,19.0,0.0,37.0,16.0,2006-12-16 18:09:00
460,17/12/2006,01:04:00,4.582,0.258,238.080,19.6,0.0,13.0,0.0,2006-12-17 01:04:00
464,17/12/2006,01:08:00,4.618,0.104,239.610,19.6,0.0,27.0,0.0,2006-12-17 01:08:00
475,17/12/2006,01:19:00,4.636,0.140,237.370,19.4,0.0,36.0,0.0,2006-12-17 01:19:00
476,17/12/2006,01:20:00,4.634,0.152,237.170,19.4,0.0,35.0,0.0,2006-12-17 01:20:00
...,...,...,...,...,...,...,...,...,...,...
2071589,24/11/2010,07:53:00,4.666,0.000,235.720,19.8,0.0,39.0,17.0,2010-11-24 07:53:00
2071590,24/11/2010,07:54:00,4.694,0.000,236.780,19.8,0.0,39.0,18.0,2010-11-24 07:54:00
2071591,24/11/2010,07:55:00,4.602,0.000,237.080,19.4,0.0,40.0,17.0,2010-11-24 07:55:00
2071592,24/11/2010,07:56:00,4.536,0.000,237.030,19.0,0.0,39.0,17.0,2010-11-24 07:56:00
2071593,24/11/2010,07:57:00,4.626,0.000,236.780,19.4,0.0,39.0,17.0,2010-11-24 07:57:00

In [ ]:
# 500 000 записів

# випадковим чином обираємо 500 000 записів без повторів (replace=False)

# для отриманої вибірки обчислюємо середні значення по всіх 3x групах споживання електрoенергії Sub_metering_1, Sub_metering_2, Sub_metering_3

In [6]:
def random(data):
    sample = data.sample(n=500000, random_state=42)
    print(sample[['Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']].mean())
    return sample

%timeit -n 3 random(df)
random(df)

Sub_metering_1    1.119258
Sub_metering_2    1.308912
Sub_metering_3    6.452950
dtype: float64
Sub_metering_1    1.119258
Sub_metering_2    1.308912
Sub_metering_3    6.452950
dtype: float64
Sub_metering_1    1.119258
Sub_metering_2    1.308912
Sub_metering_3    6.452950
dtype: float64
Sub_metering_1    1.119258
Sub_metering_2    1.308912
Sub_metering_3    6.452950
dtype: float64
Sub_metering_1    1.119258
Sub_metering_2    1.308912
Sub_metering_3    6.452950
dtype: float64
Sub_metering_1    1.119258
Sub_metering_2    1.308912
Sub_metering_3    6.452950
dtype: float64
Sub_metering_1    1.119258
Sub_metering_2    1.308912
Sub_metering_3    6.452950
dtype: float64
Sub_metering_1    1.119258
Sub_metering_2    1.308912
Sub_metering_3    6.452950
dtype: float64
Sub_metering_1    1.119258
Sub_metering_2    1.308912
Sub_metering_3    6.452950
dtype: float64
Sub_metering_1    1.119258
Sub_metering_2    1.308912
Sub_metering_3    6.452950
dtype: float64
Sub_metering_1    1.119258
Sub_metering_2    1.308912
Sub_metering_3    6.452950
dtype: float64
Sub_metering_1    1.119258
Sub_metering_2    1.308912
Sub_metering_3    6.452950
dtype: float64
Sub_metering_1    1.119258
Sub_metering_2    1.308912
Sub_metering_3    6.452950
dtype: float64
Sub_metering_1    1.119258
Sub_metering_2    1.308912
Sub_metering_3    6.452950
dtype: float64
Sub_metering_1    1.119258
Sub_metering_2    1.308912
Sub_metering_3    6.452950
dtype: float64
Sub_metering_1    1.119258
Sub_metering_2    1.308912
Sub_metering_3    6.452950
dtype: float64
Sub_metering_1    1.119258
Sub_metering_2    1.308912
Sub_metering_3    6.452950
dtype: float64
Sub_metering_1    1.119258
Sub_metering_2    1.308912
Sub_metering_3    6.452950
dtype: float64
Sub_metering_1    1.119258
Sub_metering_2    1.308912
Sub_metering_3    6.452950
dtype: float64
Sub_metering_1    1.119258
Sub_metering_2    1.308912
Sub_metering_3    6.452950
dtype: float64
Sub_metering_1    1.119258
Sub_metering_2    1.308912
Sub_metering_3    6.452950
dtype: float64
395 ms ± 23.1 ms per loop (mean ± std. dev. of 7 runs, 3 loops each)
Sub_metering_1    1.119258
Sub_metering_2    1.308912
Sub_metering_3    6.452950
dtype: float64

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Datetime
1030580,1/12/2008,09:44:00,1.502,0.074,240.170,6.4,0.0,0.0,18.0,2008-12-01 09:44:00
1815,17/12/2006,23:39:00,0.374,0.264,245.500,1.8,0.0,2.0,0.0,2006-12-17 23:39:00
1295977,3/6/2009,17:01:00,0.620,0.300,239.850,3.0,0.0,1.0,1.0,2009-06-03 17:01:00
206669,9/5/2007,05:53:00,0.280,0.200,235.720,1.4,0.0,0.0,0.0,2007-05-09 05:53:00
1048893,14/12/2008,02:57:00,1.372,0.054,243.950,5.6,0.0,0.0,18.0,2008-12-14 02:57:00
...,...,...,...,...,...,...,...,...,...,...
229152,24/5/2007,20:36:00,0.302,0.082,241.600,1.2,0.0,0.0,0.0,2007-05-24 20:36:00
1328200,26/6/2009,02:04:00,0.212,0.092,240.380,1.0,0.0,1.0,0.0,2009-06-26 02:04:00
592479,1/2/2008,04:03:00,0.414,0.094,239.940,1.8,0.0,0.0,0.0,2008-02-01 04:03:00
1492572,18/10/2009,05:36:00,0.402,0.188,242.720,1.8,0.0,0.0,0.0,2009-10-18 05:36:00
430715,11/10/2007,19:59:00,3.866,0.366,232.260,16.6,1.0,0.0,17.0,2007-10-11 19:59:00

In [ ]:
# споживання після 18:00

# обираємо записи після 18:00 з потужністю понад 6 кВт.  
# серед них залишаємо лише ті, де група Sub_metering_2 є найбільшою серед усіх трьох груп 
# ділимо результат на дві половини, з першої беремо кожен третій запис (починаючи з індексу 2), з другої кожен четвертий (починаючи з 3)
# об'єднуємо частини у результат

In [7]:
def evening(data):
    evening = data[data['Datetime'].dt.hour >= 18]
    high = evening[evening['Global_active_power'] > 6]
    group2_biggest = high[(high['Sub_metering_2'] > high['Sub_metering_1']) & 
                          (high['Sub_metering_2'] > high['Sub_metering_3'])]
    
    half = len(group2_biggest) // 2
    first  = group2_biggest.iloc[:half].iloc[2::3]
    second = group2_biggest.iloc[half:].iloc[3::4]
    return pd.concat([first, second])

%timeit evening(df)
evening(df)

221 ms ± 16.8 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Datetime
43,16/12/2006,18:07:00,6.474,0.144,231.850,27.8,0.0,37.0,16.0,2006-12-16 18:07:00
3007,18/12/2006,19:31:00,6.158,0.442,229.080,27.0,0.0,36.0,0.0,2006-12-18 19:31:00
17497,28/12/2006,21:01:00,7.062,0.270,235.760,30.2,2.0,65.0,17.0,2006-12-28 21:01:00
17500,28/12/2006,21:04:00,7.376,0.238,234.670,31.4,1.0,72.0,17.0,2006-12-28 21:04:00
17503,28/12/2006,21:07:00,7.248,0.000,235.340,30.8,1.0,72.0,17.0,2006-12-28 21:07:00
...,...,...,...,...,...,...,...,...,...,...
2066465,20/11/2010,18:29:00,6.180,0.306,229.920,27.2,13.0,35.0,16.0,2010-11-20 18:29:00
2066469,20/11/2010,18:33:00,6.262,0.382,229.720,27.6,13.0,35.0,16.0,2010-11-20 18:33:00
2066473,20/11/2010,18:37:00,6.310,0.412,229.890,27.8,15.0,35.0,16.0,2010-11-20 18:37:00
2066477,20/11/2010,18:41:00,6.282,0.360,229.210,27.8,14.0,35.0,16.0,2010-11-20 18:41:00
2066481,20/11/2010,18:45:00,6.564,0.430,228.430,29.0,13.0,40.0,16.0,2010-11-20 18:45:00

In [ ]:
#нормалізація приводить значення до діапазону від 0 до 1 за формулою (x - min)/(max - min)
#стандартизація приводить дані до розподілу з середнім 0 та стандартним відхиленням 1 за формулою (x - mean)/std

In [8]:
cols = ['Global_active_power', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']

df_norm = (df[cols] - df[cols].min()) / (df[cols].max() - df[cols].min())

df_std = (df[cols] - df[cols].mean()) / df[cols].std()

print('Нормалізований:')
display(df_norm.head())
print('Стандартизований:')
display(df_std.head())

Нормалізований:

,Global_active_power,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,0.374796,0.377593,0.0,0.0125,0.548387
1,0.478363,0.473029,0.0,0.0125,0.516129
2,0.479631,0.473029,0.0,0.0250,0.548387
3,0.480898,0.473029,0.0,0.0125,0.548387
4,0.325005,0.323651,0.0,0.0125,0.548387

Стандартизований:

,Global_active_power,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2.955076,3.098788,-0.182337,-0.051274,1.249420
1,4.037084,4.133799,-0.182337,-0.051274,1.130897
2,4.050325,4.133799,-0.182337,0.120487,1.249420
3,4.063566,4.133799,-0.182337,-0.051274,1.249420
4,2.434881,2.513781,-0.182337,-0.051274,1.249420

In [ ]:
# пірсон вимірює лінійну залежність між двома змінними, значення близьке до 1 означає сильну пряму лінійну залежність
#спірмен вимірює монотонну залежність

In [9]:
from scipy.stats import pearsonr, spearmanr

print('Пірсон:', pearsonr(df['Global_active_power'], df['Global_intensity']))
print('Спірмен:', spearmanr(df['Global_active_power'], df['Global_intensity']))

Пірсон: PearsonRResult(statistic=np.float64(0.9988886002095916), pvalue=np.float64(0.0))
Спірмен: SignificanceResult(statistic=np.float64(0.9953719367299743), pvalue=np.float64(0.0))

In [ ]:
# One Hot Encoding

# створюємо новий категоріальний атрибут час доби, який визначається на основі години з колонки Datetime:
#ніч від 0 до 6 години
#ранок від 6 до 12 години
#день від 12 до 18 години
#вечір від 18 до 24 години

In [10]:
df['time_of_day'] = pd.cut(df['Datetime'].dt.hour, 
                            bins=[-1, 6, 12, 18, 24], 
                            labels=['ніч', 'ранок', 'день', 'вечір'])

df_encoded = pd.get_dummies(df['time_of_day'], prefix='time')

display(df_encoded.head(10))

   time_ніч  time_ранок  time_день  time_вечір
0     False       False       True       False
1     False       False       True       False
2     False       False       True       False
3     False       False       True       False
4     False       False       True       False
5     False       False       True       False
6     False       False       True       False
7     False       False       True       False
8     False       False       True       False
9     False       False       True       False